__pycache__/
virtualenv/
tests/testing_artifacts/
*.egg-info/
.vscode/
anacostia_pipeline/engine/subexample.py
testing_artifacts/
anacostia_pipeline/static/js/htmx.js
.env
venv
.venv
*/plugin-venv
dist/
**.DS_Store
**/input_artifacts/
**/output_artifacts/
*.pem
*.key

create_files.py
test.py