<table class="table is-bordered is-striped is-hoverable"
    hx-get="{{ params_endpoint }}" hx-trigger="every 1s" hx-swap="outerHTML" hx-target="this">
    <thead>
        <tr>
            <th>Entry ID</th>
            <th>Run ID</th>
            <th>Param Name</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <th>{{ row.id }}</th>
            <td>{{ row.run_id }}</td>
            <td>{{ row.key }}</td>
            <td>{{ row.value }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

