{% extends "basenode.html" %}

{% block content %}
<div id="data_type_menu" class="dropdown is-hoverable">
    <div class="dropdown-trigger">
        <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
            <span class="icon-text">
                <span>View Other Tables</span>
                <span class="icon">▼</span>
            </span>
        </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu3" role="menu">
        <div class="dropdown-content">
            {% for data_type, endpoint in data_options.items() %}
            <a href="{{ endpoint }}" class="dropdown-item" 
                hx-get="{{ endpoint }}" hx-target="#table_container" hx-swap="innerHTML" hx-trigger="click">
                {{ data_type }}
            </a>
            {% endfor %}
        </div>
    </div>
</div>
<div id="table_container" class="container">
    {% include "sqlmetadatastore/sqlmetadatastore_samples.html" %}
</div>
{% endblock %}