<table class="table is-bordered is-striped is-hoverable"
    hx-get="{{ metrics_endpoint }}" hx-trigger="every 1s" hx-swap="outerHTML" hx-target="this">
    <thead>
        <tr>
            <th>Entry ID</th>
            <th>Run ID</th>
            <th>Metric</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {% for sample in rows %}
        <tr>
            <th>{{ sample.id }}</th>
            <td>{{ sample.run_id }}</td>
            <td>{{ sample.key }}</td>
            <td>{{ sample.value }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>