/* Navbar styling */
.home-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* setting the max-height of the image to 3.7rem because that's the height of the .navbar-title element (aka the 'Anacostia Pipeline' title) */
.home-navbar img {
    max-height: calc(1.7rem + 2rem);
    cursor: pointer;
}

.home-navbar img:hover {
    background-color: #a9a9a9;
}

/* the 'Anacostia Pipeine' title */
.home-navbar-title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Dropdown button styling */
.dropdown-button {
    background-color: #333;
    color: white;
    font-size: 1rem;
    padding: 1.1rem;
    height: auto;
    border: none;
    cursor: pointer;
    margin: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Change color of dropdown button and color of button text on hover */
.dropdown:hover .dropdown-button {
    background-color: #a9a9a9;
    color: black;
}

#page_content {
    height: 95vh;
    width: 100vw;
}

/* Add some spacing below navbar */
body {
    margin-top: 59px;
    margin-left: 0;
    margin-right: 0;
    line-height: normal;
}