#node_header_bar {
    width: 100%;
    position: relative;
    color: #5c62d6;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Style for the collapse button */
.collapse-btn {
    background-color: black;
    color: white;
    cursor: pointer;
    width: 5%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 14px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: bold;
    margin: 0 auto;
}

.node_header_bar_btn {
    margin-bottom: 20px;
    border-top: 3px solid black;
    width: 100%;
}