/* styles.css */
.toolbar {
    background-color: #fbfbfb66;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #333;
    margin-bottom: 10px;
    margin-right: 10px;
}

.navbar {
    padding: 0px;
    border-bottom: 1px solid #333;
}

.title {
    font-size: 20px; /* Adjust the font size as needed */
    text-align: center;
    flex-grow: 1; /* Allows the title to take up remaining space in the middle */
    color: #333;
}

.navbar-item img {
    max-height: 50px;
    max-width: 50px;
    border-right: 1px solid #333;
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-item.dag-icon {
    padding-top: 0px;
    padding-bottom: 0px;

}

body {
    background-color: #fbfbfb;
    font-weight: 300;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
    margin: 0px;
}