/* Material Design Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ECEFF1; /* Material background color */
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 00px 20px;
    background-color: #6200EA; /* Material primary color */
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Material shadow */
}

.logo {
    font-size: 24px;
    font-weight: 500; /* Material medium font weight */
    
}

.menu-items {
    list-style-type: none;
    padding: 0;
}

.menu-items li {
    display: inline;
    margin-right: 20px;
}

.menu-items a {
    color: #fff;
    text-decoration: none;
    font-weight: 500; /* Material medium font weight */
    transition: color 0.3s;
}

.menu-items a:hover {
    color: #BB86FC; /* Material secondary color */
}

/* D3.js styles */
.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: 0.6;
}

/* Add/Update this style for the Material Design folder icons */
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 55px; /* Adjust this value to size the icon */
    display: flex;
    line-height: 1;
    text-transform: none;
    text-align: center;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

