body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu-items {
    list-style-type: none;
    padding: 0;
}

.menu-items li {
    display: inline;
    margin-right: 20px;
}

.menu-items a {
    color: #fff;
    text-decoration: none;
}


/* D3.js styles */
.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    stroke: #999;
    stroke-opacity: 0.6;
}

.folder-icons {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.folder {
    width: calc(20% - 10px); /* 20% for each of the 5 folders, minus a little for spacing */
    height: 100px;
    background-color: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

.folder-label {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 90%;
}
