<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>

        <!-- custom CSS for Anacostia landing page -->
        <!-- <link rel="stylesheet" type="text/css" href="/static/css/home.css"> -->
        <link rel="stylesheet" type="text/css" href="/static/css/footer.css">
        <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">
        
        <!-- Htmx -->
        <!-- <script src="/static/js/htmx.min.js" type="text/javascript"></script> -->
        <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>


        <!-- Hyperscript -->
        <script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
        
        <!-- Materialize Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Materialize Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <!-- custom CSS and JS for node UIs 
        {% for stylesheet in stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
        {% endfor %}

        {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
        {% endfor %}
        -->

        <!-- load node specific resources 
        <link rel="stylesheet" type="text/css" hx-get="/resources" hx-target="this" hx-swap="outerHTML" hx-trigger="load">
        -->
    </head>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper indigo darken-1">
                    <a href="/" class="brand-logo">Anacostia</a>
                    
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li> 
                            <a class='blue-grey darken-1 dropdown-trigger btn' href='#' data-target='dropdown1'>Nodes</a>
                            <ul id='dropdown1' class='dropdown-content blue-grey darken-1 center-align'>
                                {% for node in nodes %}
                                    <div hx-get="{{ node.endpoint() }}" hx-target="#node_content" hx-swap="innerHTML" hx-trigger="click">
                                        {{node.name}}
                                    </div>
                                    <li class="divider" tabindex="-1"></li>
    
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <main>
            <div id="node_content"></div>
        </main>
  
        <footer class="page-footer indigo darken-1">
            <div class="container">
                <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Anacostia Pipeline</h5>
                    <p class="grey-text text-lighten-4">ML Dev-Ops</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Github</a></li>
                    <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> -->
                    </ul>
                </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                © 2023 Anacostia Pipeline
                <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
                </div>
            </div>
        </footer>

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.dropdown-trigger');
                var instances = M.Dropdown.init(elems);
            });
        </script>
    </body>
</html>