{% include 'node.html' %}
<div class="container">
    <table class="striped">
        <thead>
          <tr>
              <th>Run ID</th>
              <th>Time Start</th>
              <th>Parameters</th>
              <th>Metrics</th>
              <th>Tags</th>
          </tr>
        </thead>
        <tbody>
            {% for run in runs %}
            <tr>
                <td>{{ run.run_id }}</td>
                <td>{{ run.start_time }}</td>
                <td>
                    {% if run.parameters|length > 0 %}
                        <table>
                        {% for k,v in run.parameters.items() %}
                            <tr>
                                <td>{{ k }}</td>
                                <td>{{ v }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                    {% endif %}
                </td>
                <td>
                    {% if run.metrics|length > 0 %}
                        <table>
                        {% for k,v in run.metrics.items() %}
                            <tr>
                                <td>{{ k }}</td>
                                <td>{{ v }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                    {% endif %}
                </td>
                <td>
                    {% if run.tags|length > 0 %}
                        <table>
                        {% for k,v in run.tags.items() %}
                            <tr>
                                <td>{{ k }}</td>
                                <td>{{ v }}</td>
                            </tr>
                        {% endfor %}
                        </table>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>