<div class="container">
    <div class="row">
        <div class="col s6"><h3>{{ name }}</h3></div>
        <div class="col s6 right-align"><h3>{{ status }}</h3></div>
        
        {% if predecessors|length > 0 %}
        <div class="col s12">   
            <h5>Parent Nodes</h5>
            <ul class="collapsible">
                {% for n in predecessors %}
                <li>
                    <div class="collapsible-header" hx-get="/node?name={{n}}&property=status" hx-target="#node-{{n}}" hx-swap="innerHTML" hx-trigger="click once">
                        {{ n }}
                    </div>
                    <div class="collapsible-body">
                        <div id="node-{{n}}"></div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if successors|length > 0 %}
        <div class="col s12">
            <h5>Succesor Nodes</h5>
            <ul class="collapsible">
                {% for n in successors %}
                <li>
                    <div class="collapsible-header" hx-get="/node?name={{n}}&property=status" hx-target="#node-{{n}}" hx-swap="innerHTML" hx-trigger="click once">
                        {{ n }}
                    </div>
                    <div class="collapsible-body">
                        <div id="node-{{n}}"></div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <script>
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
    </script>
</div>