{% include 'node.html' %}
<div class="container">
    <table class="striped">
        <thead>
          <tr>
              <th>Entry ID</th>
              <th>Run ID</th>
              <th>State</th>
              <th>File</th>
              <th>Created</th>
              <th>End Time</th>
          </tr>
        </thead>
        <tbody>
            {% for s in samples %}
            <tr>
                <td>{{ s.entry_id }}</td>
                <td>{{ s.run_id }}</td>
                <td>{{ s.state }}</td>
                <td>{{ s.filepath|basename }}</td>
                <td>{{ s.created_at }}</td>
                <td>{{ s.end_time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>